body{
    margin: 0;
    /* font-family: 'Poppins', sans-serif; */
    text-align: center;
    color: #373737;
}
.frontline p{
    font-size: xx-large;
    text-align: center;
    font-family: 'lato',sans-serif;
}

body .bgimage{
    
    background-size: contain;
    background-repeat: repeat-x;
    position: relative;
    height: 80vh;
    background-color: #373737;
}
nav{
    display: flex;
    flex-direction: row;
    height:10%;
    background-color:#131313;
    align-items: center;
    font-family: 'lato',sans-serif;
}
.fa-instagram, .fa-linkedin-in{
    font-size:xx-large;
}
nav .navigation ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
    gap: 5px;
}
nav .navigation ul li, select{
    margin-right: 50px;
    justify-content: center;
    font-size: 20px;

    color: #ffffff
  
}
select{
    border: none;
    appearance: none;
    background-color: #ffffff;

}
select option{
    padding: 10px;
}
select:hover{
    color: #FFF225;
    cursor: pointer;
}
option:hover{
    color: #FFF225;
    cursor: pointer;
}
nav .navigation ul li :hover{
    color: #FFF225;
    transition: .6s;
}
nav .navigation a{
    text-decoration: none;
    color: #FAFAFA;
}
#AboutUs{
    padding-left: 50px;
    padding-right:50px;
}

h1{
    font-size:xx-large;
    color: #ffffff;
}
.icon{
    font-size: xx-large;
}
#ContactUs ul{
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  padding: 20px;
}
#ContactUs ul li{
  list-style: none;
}
#ContactUs ul li b{

  font-size: x-large;
}
#ContactUs a{
  text-decoration: none;
  color: #373737;
}
#ContactUs a:hover{
  font-weight: bold;
}


nav .fa-solid{
    display: none;
}
@media (max-width: 700px) {
    body{
        font-size: small;
    }
    nav .navigation ul {
        position: absolute;
        background-color: #373737;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    nav .navigation ul li, select{
        padding: 10px;
    }
    nav ,.navigation .fa-solid{
        display: block;
        color: #373737;
        font-size: large;
        margin-right: 0;
    }
}
 footer {

    display: flex;
    flex-direction: row;
    justify-content:center ;
    align-items: center;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #131313;
    color: #FAFAFA;
    padding: 10px;
}
footer a{
    text-decoration: none;
    color: #FAFAFA;
}
footer ul{
    display: flex;
}
footer ul li{
    list-style-type: none;
    margin-right: 30px;
} 
footer ul li a:hover{
    color:#FFF225;
}

* {
    box-sizing: border-box;
  }
  
  .fab-wrapper {
    position: fixed;
    bottom: 3rem;
    right: 3rem;
  }
  .fab-checkbox {
    display: none;
  }
  .fab {
    position: absolute;
    bottom: -1rem;
    right: -1rem;
    width: 4rem;
    height: 4rem;
    background:#131313;
    border-radius: 50%;
    background-color:#131313;
    box-shadow: 0px 5px 20px #131313;
    transition: all 0.3s ease;
    z-index: 1;
    border-bottom-right-radius: 6px;
    border: 1px solid #131313;
  }
  
  .fab:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    border-radius: 50%;
    background-color: #373737;
  }
  .fab-checkbox:checked ~ .fab:before {
    width: 90%;
    height: 90%;
    left: 5%;
    top: 5%;
    background-color: #373737;
  }
  .fab:hover {
    background: #131313;
    box-shadow: 0px 5px 20px 5px #131313;
  }
  
  .fab-dots {
    position: absolute;
    height: 8px;
    width: 8px;
    background-color: white;
    border-radius: 50%;
    top: 50%;
    transform: translateX(0%) translateY(-50%) rotate(0deg);
    opacity: 1;
    animation: blink 3s ease infinite;
    transition: all 0.3s ease;
  }
  
  .fab-dots-1 {
    left: 15px;
    animation-delay: 0s;
  }
  .fab-dots-2 {
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    animation-delay: 0.4s;
  }
  .fab-dots-3 {
    right: 15px;
    animation-delay: 0.8s;
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    height: 6px;
  }
  
  .fab .fab-dots-2 {
    transform: translateX(-50%) translateY(-50%) rotate(0deg);
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots-1 {
    width: 32px;
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
  }
  .fab-checkbox:checked ~ .fab .fab-dots-3 {
    width: 32px;
    border-radius: 10px;
    right: 50%;
    transform: translateX(50%) translateY(-50%) rotate(-45deg);
  }
  
  @keyframes blink {
    50% {
      opacity: 0.25;
    }
  }
  
  .fab-checkbox:checked ~ .fab .fab-dots {
    animation: none;
  }
  
  .fab-wheel {
    position: absolute;
    bottom: 0;
    right: 0;

    width: 10rem;
    height: 10rem;
    transition: all 0.3s ease;
    transform-origin: bottom right;
    transform: scale(0);
  }
  
  .fab-checkbox:checked ~ .fab-wheel {
    transform: scale(1);
  }
  .fab-action {
    position: absolute;
    background: #131313;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: White;
    box-shadow: 0 0.1rem #131313;
    transition: all 1s ease;
  
    opacity: 0;
  }
  
  .fab-checkbox:checked ~ .fab-wheel .fab-action {
    opacity: 1;
  }
  
  .fab-action:hover {
    background-color: #373737;
  }
  
  .fab-wheel .fab-action-1 {
    right: -1rem;
    top: 0;
  }
  
  .fab-wheel .fab-action-2 {
    right: 3.4rem;
    top: 0.5rem;
  }
  .fab-wheel .fab-action-3 {
    left: 0.5rem;
    bottom: 3.4rem;
  }
  .fab-wheel .fab-action-4 {
    left: 0;
    bottom: -1rem;
  }
 